html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  z-index: 1;
}


.hline {
  width: 80rem;
  margin-top: 4rem;
  color: #eee;
}
