$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-gold : #FFD700;
/* SCSS HEX */
$melon: #fec5bbff;
$pale-pink: #fcd5ceff;
$misty-rose: #fae1ddff;
$isabelline: #f8edebff;
$platinum: #e8e8e4ff;
$alabaster: #d8e2dcff;
$linen: #ece4dbff;
$champagne-pink: #ffe5d9ff;
$peach-puff: #ffd7baff;

$manatee: #8e9aafff;
$languid-lavender: #cbc0d3ff;
$pale-pink: #efd3d7ff;
$pale-purple-pantone: #feeafaff;
$lavender-web: #dee2ffff;